


  <div class="d-flex">
    <div class="sidebar d-flex flex-column p-3" style="height: 90vh;width: 250px; background-color: rgb(249, 179, 5);" >
        <a routerLink="/account/mydetails" class="ms-3" style="text-decoration: none; color: whitesmoke; margin-top: 20px;">Details</a>
        <a routerLink="/myorders" class="ms-3" style="text-decoration: none; color: whitesmoke; margin-top: 20px;">My Orders</a>
    </div>
    
        <div class="formm">
            <form action="/action_page.php">
              <label for="fname">username</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name.." readonly [value]="details.username">
          
              <label for="lname">email</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name.." readonly [value]="details.email">

              <label for="lname">Password</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name.." readonly [value]="details.password">


              <button class="btn btn-outline-danger ms-2" (click)="logout()">Logout</button>

              
            </form>

            
          </div>
    
  </div>