<app-header></app-header>
<!-- Empty Wishlist -->

<div class="d-flex flex-column justify-content-center align-items-center" *ngIf="(items.length==0)">
    <img src="./assets/images/wlist.png" alt="no img"><br>
    <a routerLink="/allproduct" class="text-danger" style="text-decoration: none;"> Add to your list</a>

</div>


<!-- Wishlist -->
<section class="py-5"  *ngIf="!(items.length == 0)">

    <h1 class="text-center text-danger"><b>Wishlist</b></h1>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let item of items">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="item.imageUrl" alt="no img" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{item.name}}</h5>
                            <!-- Product price-->
                            ₹{{item.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="d-flex justify-content-between p-4">
                        <a class="btn btn-outline-danger mt-auto" (click)="delete(item._id)">Remove</a>
                        <a class="btn btn-outline-success mt-auto" (click)="cartItem(item)">cart</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>