<app-header></app-header>
<!-- Empty cart -->


<div class="d-flex flex-column justify-content-center align-items-center" >
    <img src="https://i.pinimg.com/736x/2e/ac/fa/2eacfa305d7715bdcd86bb4956209038.jpg" alt="no img" style="height: 30%;width: 60%;"><br>

    <a href="" class="text-danger" style="text-decoration: none;">Cart is Empty, Add to your Cart</a>

</div>

<!-- CART -->
<div class="container mt-3 mb-4">
    <div class="table-container">
        <table class="table border shadow p-3 ">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Total Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Item 1</td>
                    <td>
                        
                        <div class="d-flex">
                            <button class="btn fw-bolder fs-3" >-</button>
                            <input type="num" class=" text-center"  value="4" style="max-width: 3rem;" readonly>
                            <button class="btn fw-bolder fs-4">+</button>
                        </div>
                        
                   </td>
                    <td>$50.00</td>
                    <td><button class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button></td>
                </tr>
                
            </tbody>
        </table>
        <div class="border shadow d-flex justify-content-evenly align-items-center p-3">
            <div>Grandtotal</div>
            <div>$200</div>
            <div><button class="btn btn-primary">Proceed To Pay</button></div>
        </div>
    </div>
    
</div>


