<app-header></app-header>



<div class="container-fluid  justify-content-center align-items-center d-flex flex-column" >
    <div class="row" >
        <div class="col-md-5 p-3  justify-content-center align-items-center d-flex flex-column " >
            <h1 > Discover <span class="text-warning">your Perfect Furnitures </span></h1>

            <button class="btn btn-outline-warning" routerLink="/login">Explore</button>
        </div>
        <div class="col-md-7  d-flex justify-content-center align-items-center flex-column">
            <img class="mb-5" src="https://i.pinimg.com/564x/66/0c/8b/660c8b13a164529e7ccbe3c381ae55cf.jpg" width="60%" height="60%">
        </div>
    </div>
</div>


<div class="container-fluid  justify-content-center align-items-center d-flex flex-column" >
    <div class="row" >
        
        <div class="col-md-7  d-flex justify-content-center align-items-center flex-column">
            <img class="mb-5" src="https://t4.ftcdn.net/jpg/06/09/96/25/360_F_609962529_7qHWpMQtbV7sVv9om882Lka1UzFqkVkz.jpg" width="80%" height="80%">
        </div>
        <div class="col-md-5 p-3  justify-content-center align-items-center d-flex flex-column " >
            <h1 > Crafted  <span class="text-warning">with excellence </span></h1>

            
        </div>
    </div>
</div>


<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <!-- <h3>Chair</h3> -->
            <img src="https://t4.ftcdn.net/jpg/06/08/82/71/240_F_608827126_ASUnsywl1YxobGqcJrX89SyfYxkjtq4Y.jpg" alt="" height="100%" width="250%">
          </div>
          <div class="flip-card-back">
            <p>A comfortable chair for your living room.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://www.freeiconspng.com/thumbs/table-png/table-png-18.jpg" alt="" height="90%" width="120%">
            
          </div>
          <div class="flip-card-back">
            <p>A stylish table for your dining area.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://img.freepik.com/free-psd/elegant-gray-sofa-one-seater_176382-99.jpg?size=626&ext=jpg&ga=GA1.1.1951724350.1706093656&semt=ais" alt="" height="110%" width="150%">
            <!--   -->
          </div>
          <div class="flip-card-back">
            <p>A cozy sofa for your living space.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



